body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h1 {
  display: inline;
  color: #212529;
  font-size: 60px;
}

li {
  color: #5c636a;
}

li:first-letter {
  text-transform: capitalize;
}

.current-temperature {
  font-size: 75px;
  text-decoration: none;
  line-height: 1;
}

.footer {
  color: #5c636a;
  font-size: 12px;
  text-align: center;
}

#icon {
  width: 125px;
  height: 125px;
}

.weather {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.weather-app {
  background-color: white;
  border: 1px;
  box-shadow: 0 30px 50px rgb(165, 168, 173);
  max-width: 900px;
  margin: 60px auto;
  border-radius: 16px;
  padding: 40px;
}

.weather-forecast-date {
  display: block;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.weather-forecast-temperature {
  display: block;
  font-size: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.weather-forecast-temperature-min {
  color: #a5a8ad;
}

.weather-forecast-date,
.weather-forecast-temperature-max {
  color: #5c636a;
}

.row {
  padding-top: 30px;
}

.row g-3 {
  position: fixed;
}

.units,
.units a {
  font-size: 20px;
  text-decoration: none;
}
