body {
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
}

h1 {
  display: inline;
  font-size: 35px;
  padding-top: 30px;
  color: #272044;
}

li:first-letter {
  text-transform: capitalize;
}

.current-temperature {
  display: inline;
  font-size: 60px;
}

.card-title {
  font-size: 25px;
}

.card-text {
  display: block;
  font-size: 25px;
  text-align: center;
}

.weather-app {
  border: 1px solid #dadde1;
  max-width: 800px;
  margin: 60px auto;
  background: #fff;
  border-radius: 16px;
  padding: 40px;
}

.row g-3 {
  position: fixed;
}

.row {
  padding-top: 30px;
}

.weather {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer {
  font-size: 12px;
}

.sun-icon,
.showers-icon,
.cloud-icon,
.cloud-sun-icon {
  font-size: 100px;
  text-align: center;
}

.units,
.units a {
  font-size: 20px;
  text-decoration: none;
}

.units .active {
  color: black;
  cursor: default;
}

.weather-temperature {
  display: inline;
  float: left;
  text-decoration: none;
}
